##################################
# Java / Maven
##################################
target/
build/
.mvn/wrapper/maven-wrapper.jar

##################################
# Logs
##################################
*.log
logs/

##################################
# IDEs
##################################

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

##################################
# Sistema Operacional
##################################

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

##################################
# Docker
##################################
docker-compose.override.yml

##################################
# Spring Boot
##################################
application-*.properties
!application.properties

##################################
# Environment variables
##################################
.env

##################################
# Testes / Coverage
##################################
coverage/
jacoco/
##################################
# React-Native / Expo / Node_modules
##################################
# node_modules/